<!-- <section class="pt-5">
  <gif-list [gifs]="gifService.trendingGifs()"/>
</section> -->


<div class="h-screen bg-red-500 overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4"
(scroll) = "onScroll($event)"
#groupDiv
>
  @for (group of gifService.trendingGifGroups(); track $index) {
    <div class="grid gap-4">
      @for (item of group; track $index) {
        <div>
          <img
          class="h-full w-full rounded-lg object-cover"
          [src]="item.url"
          [alt]="item.title">
      </div>
      }
    </div>
  }

</div>

