<div id="nav" class="w-full px-6">
  @for (menu of menuOptions; track $index) {
  <a href="#" [routerLink]="menu.route" routerLinkActive="bg-blue-800" [routerLinkActiveOptions]="{exact: true}"
    class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3  hover:bg-white/5 transition ease-linear duration-150">
    <div>
    <!-- <i class="{{menu.icon}}"></i> -->
    <!-- queda mejor de esta forma -->
    <i [class]="menu.icon"></i>


    </div>
    <div class="flex flex-col">
      <span class="text-lg font-bold leading-5 text-white">{{menu.label}}</span>
      <span class="text-sm text-white/50 hidden md:block">{{menu.subLabel}}</span>
    </div>
  </a>
  }
  @for (item of searchHistoryKeys(); track $index) {
    <a href="#" [routerLink]="['/dashboard/history', item]" routerLinkActive="bg-blue-800" [routerLinkActiveOptions]="{exact: true}"
    class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3  hover:bg-white/5 transition ease-linear duration-150">
    <div>
    <!-- <i class="{{menu.icon}}"></i> -->
    <!-- queda mejor de esta forma -->
    <i class="fa-solid fa-clock-rotate-left"></i>
    </div>
    <div class="flex flex-col">
      <span class="text-lg font-bold leading-5 text-white">{{item}}</span>
    </div>
  </a>
  }


</div>
